@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    background-color: #d9d9d9;
    width: 100%;
    padding-top: 16px;
    text-align: center;
    color: #7a7878;
}

@media (max-width: 700px) {
    
    #img-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    form, #sec-1  {
        width: 25rem;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}