header{
    background-color: #d9d9d9;
}

.img {
    margin-left: 20px;
    padding-bottom: 5px;
}

.al{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bloco {
    margin-top: 85px;
    margin-bottom: 40px;
}

.buscador{
    background-color: rgb(207,203,203);
    padding: 0.5rem;
    border-radius: 12px;
}

input:focus, input:focus, input {
        outline: 0; 
        box-shadow: 0 0 0 0;
        border: 0 none;
    }

input{
    padding-left: 7px;
    width: 530px;
    color: #3d3c3c;
}

.image {
    height: 225px;
    width: 225px;
}

div.i img {
    margin: 15px;
}

